body {
    background: linear-gradient(#F8F7FF, #FFEEDD);
}

.header {
    background: linear-gradient(#9381FF, #B8B8FF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header li {
    list-style: none;
}

.header li::marker {
    display: none;
}

.intro-portrait img {
    width: 10%;
  
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}